.login{
  text-align: center;
  h3{
    margin-bottom: 2rem;
    color: #fefefe;
  }
  form{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    margin: auto;
    gap: 1rem;
    input{
      padding: .5rem;
      border-radius: 5px;
      border: none;
      background-color: #f8f9fa;
    }
    button{
      border: none;
      padding: .5rem;
      border-radius: 5px;
      &:hover{
        background-color: rgb(77 85 114);
        color: white;
      }
    }
  }

}